<!-- Cards Text Block (No Images)-->
<div class="container">
<div class="row justify-content-center cards-text">
  {% for card in self.cards_text %}
    <div class="card-div col-md-4 col-lg-4 d-flex align-items-stretch{% if not forloop.first %} mt-4 mt-md-0{% endif %}">
      <div class="card card-txt mb-1 "> <!--text-center mb-3-->
        <div class="card-body"> <!--add padding with py-3 px-3-->
          {% if card.title %}
            <h2 class="card-title">{{ card.title }}</h2>
          {% endif %}
          {% if card.text %}
            <p class="card-text">{{ card.text }}</p>
          {% endif %}
          <div class="flex-row pb-1 text-link">
            {% if card.link.url %}<a href="{{ card.link.url }}" class="center mt-1 mb-2 card-text-btn btn btn-primary btn-lg mb-lg-0 rounded-pill">
              {{ card.link.link_text }}
            </a>{% endif %}
            </div>
        </div> <!--card-body mb-1-->
      </div> <!--card mb-1-->
    </div> <!--card-div-->
  {% endfor %}
</div>
</div>
<br>
<!-- End Cards Text Block -->