
{% load wagtailimages_tags wagtailcore_tags %}

<div class="container person-div mt-4">
<div class="row mb-3">
  <div class="col-lg-6 mb-2">
    <picture> <!--fill-573x369 -->
      {% image self.person_img fill-400x400 as img %}
      <!--style='width: 100%; height: auto;' -->
      <img src="{{ img.url }}" alt="{{ img.alt }}">
    </picture>
  </div>
    <div class="col-lg-6">
        <h1 class="cc-inner-title">{{ self.name }}</h1>
        <h2 class="cc-inner-subtitle cc-service-subtitle">
          {{ self.title }}
        </h2>
        {% if self.bio %}
        <p>
          {{ self.bio | richtext }}
        </p>
        <br>
        {% endif %}

        {% if self.external_website %}
          <div class="flex-row pb-1">
          <a href="{{ self.external_website }}" target="_blank" class="mb-2 bio-btn btn btn-primary btn-lg mb-lg-0 rounded-pill"> <!--btn-lg mb-lg-0-->
          Website <i class="fa-solid fa-link"></i>
          </a>
          </div>
        {% endif %}

        {% if self.twitter or self.youtube or self.mastodon or self.linkedin or self.instagram or self.github or self.gitlab or self.strava %}
          <div class="flex-row">
          {% if self.twitter %}
            <a href="{{ self.twitter }}" target="_blank" class="social pr-1">
            <i  class="fa-brands fa-square-twitter fa-3x"></i>
            </a>
          {% endif %}

          {% if self.youtube %}
            <a href="{{ self.youtube }}" target="_blank" class="social pr-1">
            <i  class="fa-brands fa-square-youtube fa-3x"></i>
            </a>
          {% endif %}

          {% if self.mastodon %}
            <a href="{{ self.mastodon }}" target="_blank" class="social pr-1">
            <i  class="fa-brands fa-mastodon fa-3x"></i>
            </a>
          {% endif %}

          {% if self.instagram %}
          <a href="{{ self.instagram }}" target="_blank" class="social pr-1">
          <i  class="fa-brands fa-square-instagram fa-3x"></i>
          </a>
          {% endif %}

          {% if self.linkedin %}
          <a href="{{ self.linkedin }}" target="_blank" class="social pr-1">
          <i  class="fa-brands fa-linkedin fa-3x"></i>
          </a>
          {% endif %}

          {% if self.github %}
          <a href="{{ self.github }}" target="_blank" class="social pr-1">
          <i  class="fa-brands fa-square-github fa-3x"></i>
          </a>
          {% endif %}

          {% if self.gitlab %}
          <a href="{{ self.gitlab }}" target="_blank" class="social pr-1">
          <i  class="fa-brands fa-square-gitlab fa-3x"></i>
          </a>
          {% endif %}

          {% if self.strava %}
          <a href="{{ self.strava }}" target="_blank" class="social pr-1">
          <i  class="fa-brands fa-strava fa-3x"></i>
          </a>
          {% endif %}
      
          </div>
        {% endif %}

        {% if self.google_scholar or self.arxiv or self.research_gate or self.orcid or self.academia or self.philpapers %}
        <div class="flex-row">
          {% if self.google_scholar %}
          <a href="{{ self.google_scholar }}" target="_blank" class="social pr-1">
          <i class="ai ai-google-scholar-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.arxiv %}
          <a href="{{ self.arxiv }}" target="_blank" class="social pr-1">
          <i class="ai ai-arxiv-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.research_gate %}
          <a href="{{ self.research_gate }}" target="_blank" class="social pr-1">
          <i class="ai ai-researchgate-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.orcid %}
          <a href="{{ self.orcid }}" target="_blank" class="social pr-1">
          <i class="ai ai-orcid-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.academia %}
          <a href="{{ self.academia }}" target="_blank" class="social pr-1">
          <i class="ai ai-academia-square ai-3x"></i>
          </a>
          {% endif %}
  
          {% if self.philpapers %}
          <a href="{{ self.philpapers }}" target="_blank" class="social pr-1">
          <i class="ai ai-philpapers-square ai-3x"></i>
          </a>
          {% endif %}

        </div>
        {% endif %}
      <hr>
      {% if press.all %}
      <div>
        <h3>Selected Press</h3>
        {% for e in press.all %}
          <p>
          <a href="{{ e.url }}" target="_blank">{{e.title}}</a><br>
          {{e.source}}, {{e.date}}<br>
          <!--for author in e.authors.all ... author ... endfor -->
          </p>
        {% endfor %}
      </div>
      {% endif %}
      {% if publications.all %}
      <div class="selected-research">
        <h3>Selected Publications</h3>
        {% for e in publications.all %}
          <p>
          <a href="{{ e.url }}" target="_blank">{{e.title}}</a><br>
          {{e.source}}, {{e.date}}<br>
          <!--for author in e.authors.all ... author ... endfor -->
          </p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>