
{% load wagtailimages_tags wagtailcore_tags %}

<div class="container person-div">
<div class="row mb-3">
    <div class="col-lg-6">
        <h1 class="cc-inner-title">{{ self.name }}</h1>
        <p class="cc-inner-subtitle cc-service-subtitle">
          {{ self.title }}
        </p>


          {% if self.authors.all or self.research_labs.all %}
          <div>            
          {% if self.authors.all %}
            <p><strong>Research Advisor(s)</strong>:
            {% for e in self.authors.all %}
            {% if e.internal_page %}
              <a href="{{e.internal_page.url}}" target="_blank">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
            {% elif e.external_website %}
              <a href="{{e.external_website}}" target="_blank">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}            
            {% else %}
              {{ e.name }}{% if not forloop.last %}, {% endif %}
            {% endif %}
            {% endfor %}
            </p>
            {% endif %}

            {% if self.research_labs.all %}
            <p><strong>Research Lab(s)</strong>:
            {% for e in self.research_labs.all %}
            {% if e.internal_page %}
              <a href="{{e.internal_page.url}}" target="_blank">{{ e.lab_name }}</a>{% if not forloop.last %}, {% endif %}
            {% elif e.external_website %}
              <a href="{{e.external_website}}" target="_blank">{{ e.lab_name }}</a>{% if not forloop.last %}, {% endif %}            
            {% else %}
              {{ e.lab_name }}{% if not forloop.last %}, {% endif %}
            {% endif %}
            {% endfor %}
            </p>
            {% endif %}
        </div>
        {% endif %}

        {% if self.bio %}
        <p>
          {{ self.bio | richtext }}
        </p>
        <br>
        {% endif %}
        {% if self.external_website %}
          <div class="flex-row pb-1">
          <a href="{{ self.external_website }}" class="mb-2 bio-btn btn btn-primary btn-lg mb-lg-0 rounded-pill"> <!--btn-lg mb-lg-0-->
          Website <i class="fa-solid fa-link"></i>
          </a>
          </div>
        {% endif %}

        {% if self.twitter or self.youtube or self.mastodon or self.linkedin or self.instagram or self.github or self.gitlab or self.strava %}
          <div class="flex-row">
          {% if self.twitter %}
            <a href="{{ self.twitter }}" class="social pr-1">
            <i  class="fa-brands fa-square-twitter fa-3x"></i>
            </a>
          {% endif %}

          {% if self.youtube %}
            <a href="{{ self.youtube }}" class="social pr-1">
            <i  class="fa-brands fa-square-youtube fa-3x"></i>
            </a>
          {% endif %}

          {% if self.mastodon %}
            <a href="{{ self.mastodon }}" class="social pr-1">
            <i  class="fa-brands fa-mastodon fa-3x"></i>
            </a>
          {% endif %}

          {% if self.instagram %}
          <a href="{{ self.instagram }}" class="social pr-1">
          <i  class="fa-brands fa-square-instagram fa-3x"></i>
          </a>
          {% endif %}

          {% if self.linkedin %}
          <a href="{{ self.linkedin }}" class="social pr-1">
          <i  class="fa-brands fa-linkedin fa-3x"></i>
          </a>
          {% endif %}

          {% if self.github %}
          <a href="{{ self.github }}" class="social pr-1">
          <i  class="fa-brands fa-square-github fa-3x"></i>
          </a>
          {% endif %}

          {% if self.gitlab %}
          <a href="{{ self.gitlab }}" class="social pr-1">
          <i  class="fa-brands fa-square-gitlab fa-3x"></i>
          </a>
          {% endif %}

          {% if self.strava %}
          <a href="{{ self.strava }}" class="social pr-1">
          <i  class="fa-brands fa-strava fa-3x"></i>
          </a>
          {% endif %}
      
          </div>
        {% endif %}

        {% if self.google_scholar or self.arxiv or self.research_gate or self.orcid or self.academia or self.philpapers %}
        <div class="flex-row">
          {% if self.google_scholar %}
          <a href="{{ self.google_scholar }}" class="social pr-1">
          <i class="ai ai-google-scholar-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.arxiv %}
          <a href="{{ self.arxiv }}" class="social pr-1">
          <i class="ai ai-arxiv-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.research_gate %}
          <a href="{{ self.research_gate }}" class="social pr-1">
          <i class="ai ai-researchgate-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.orcid %}
          <a href="{{ self.orcid }}" class="social pr-1">
          <i class="ai ai-orcid-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.academia %}
          <a href="{{ self.academia }}" class="social pr-1">
          <i class="ai ai-academia-square ai-3x"></i>
          </a>
          {% endif %}

          {% if self.philpapers %}
          <a href="{{ self.philpapers }}" class="social pr-1">
          <i class="ai ai-philpapers-square ai-3x"></i>
          </a>
          {% endif %}
        </div>
        {% endif %}
        <hr>
    </div>

    <div class="col-lg-6">
      <picture> <!--fill-573x369 -->
        {% image self.person_img fill-573x369 as img %}
        <!--style='width: 100%; height: auto;' -->
        <img src="{{ img.url }}" alt="{{ img.alt }}">
      </picture>
    </div>
  </div>
</div>