{% load static menu_tags cache %} 
{% get_menu "header" as navigation %}


<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo-vcsc-otters.png' %}" alt="Vermont Complex Systems Center">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">

        {% for item in navigation.menu_items.all %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ item.link }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
                {{ item.title }}
              </a>
            </li>
          {% endfor %}

      </ul>
    </div>
  </div>
</nav>




