{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags cache %}


{% block banner %}

    {% image page.banner_background_image fill-1600x800 as bg_img %}

    <div class="jumbotron jumbotron-fluid text-light py-9 d-flex align-items-centre cc-home-banner" style="background: linear-gradient(180.43deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.10) 100%), url({{ bg_img.url }});">
        <class class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9 container">
                    <h1 class="lead mt-2 display-3 cc-home-banner-title">{{ page.title }}</h1>
                        {% if page.lead_text %}
                            <p class="mt-0 lead">{{ page.lead_text }}</p>
                        {% endif %}

                        {% if page.button %}
                            <p class="mt-3">
                                <a href="{{ page.button.url }}" class="btn btn-light btn-lg">{{ page.button_text }}</a>
                            </p>
                        {% endif %}
                </div>
            </div>
        </class>
    </div>

{% endblock banner %}

<div class="home-blocks">
{% block content %}
    {% if not request.is_preview %}
        {# LIVE #}
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    {% else %}
        {# PREVIEW #}
    {% endif %}
{% endblock content %}
</div>
