{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags cache %}


{% block banner %}


        <div class="banner-div">
            <picture>  
                {% image page.banner_background_image fill-1600x600 as bg_img %}
                <img src="{{ bg_img.url }}" alt="{{ bg_img.alt }}" style="height: 100% !important; ">
              </picture>
            
    </div>

{% endblock banner %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="cc-inner-title">{{ page.title }}</h1>
        {% if page.lead_text %}
          <span class="lead" id="lead">
            {{ page.lead_text | richtext }}
          </span>
        {% endif %}
        </div>
        </div>
        </div>

  {% for block in page.body %}
    {% include_block block %}
  {% endfor %}
{% endblock content %}