{% load static menu_tags wagtailcore_tags cache %}

  <section class="py-4 mt-lg-5 mt-0" style='background-image: url("{% static 'images/grey-pattern.png' %}");'>  <!--change to contact-overlay.png for transparent bg-->
    <div class="container-fluid">
      <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 text-lg-left text-center">
          <h2 class="h2 cc-contact-footer-h2">
            {{ settings.site_settings.FooterCTASettings.title }}
          </h2>
          <p class="cc-contact-footer-p mb-0" >
            {{ settings.site_settings.FooterCTASettings.subtitle }}
          </p>
        </div>
        <div class="col-lg-4 text-lg-right text-center">
          <a href="{% if settings.site_settings.FooterCTASettings.button_internal_page %}{{ settings.site_settings.FooterCTASettings.button_internal_page.url }}{% elif settings.site_settings.FooterCTASettings.button_external_page %}{{ settings.site_settings.FooterCTASettings.button_external_page }}{% else %}/{% endif %}" class="btn btn-light btn-lg mt-lg-0 mt-3">
            {{ settings.site_settings.FooterCTASettings.button_text }}
          </a>
        </div> <!--...text-lg-left text-center-->
      </div> <!--row align-items-center-->
      </div> <!--container-->
    </div> <!--container-fluid-->
  </section>


<footer class="bg-dark py-4 text-light text-md-left text-center cc-footer container-fluid" >

    <div class="container">
    <div class="row mx-lg-n3">
      <div class="px-lg-3 col-lg-3 col-md-6 col-sm-12 footer-links">
        <!--<div class="cc-footer-title"></div>-->
        <!--cache goes here-->
          {% for item in menu_items %}
            <a class="cc-footer-link-lg d-block" href="{{ item.href }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>{{ item.text }}</a>
          {% endfor %} 
        <!--end cache here-->
      </div>
      
        <div class="px-lg-2 col-lg-3 col-md-6 col-sm-12">
          <div class="cc-footer-title">Contact</div>
          {{ settings.site_settings.ContactSettings.contact|richtext }}
        </div>
        <div class="px-lg-4 col-lg-3 col-md-6 col-sm-12">
          <div class="cc-footer-title">Explore</div>
          {{ settings.site_settings.ExploreSettings.explore|richtext }}
        </div>
        <div class="px-lg-3 col-lg-3 col-md-6 col-sm-12 lg-txt">
          {% cache 2592000 footer_social_settings %}
            {% if settings.site_settings.SocialMediaSettings.facebook %}
              <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" class="cc-footer-social-icon">
                <img src="{% static 'images/facebook.svg' %}" alt="Facebook">
              </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.twitter %}
              <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}" class="cc-footer-social-icon">
                <img src="{% static 'images/twitter.svg' %}" alt="Twitter">
              </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.instagram %}
              <a href="{{ settings.site_settings.SocialMediaSettings.instagram }}" class="cc-footer-social-icon">
                <img src="{% static 'images/instagram.svg' %}" alt="Instagram">
              </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.youtube %}
              <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}" class="cc-footer-social-icon">
                <img src="{% static 'images/youtube.svg' %}" alt="YouTube">
              </a>
            {% endif %}
          {% endcache %}
          <div class="cc-footer-copy">&copy; {% now "Y" %}, VT Complex Systems Center</div>
      </div>
    </div>
  </div> <!--container-->
</footer>