{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static wagtailimages_tags %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-12">
    <h1 class="cc-inner-title">{{ page.title }}</h1>
    {% if page.lead_text %}
      <span class="lead" id="lead">
        {{ page.lead_text | richtext }}
      </span>
    {% endif %}
    </div>
    </div>
    </div>

  {% for lab in research_labs %}
<div class="container img-txt-container" style="margin-top:10px;" >
<div class="card mb-3 img-txt-card" style="max-width: 1100px;" > <!--style="max-width: 540px;"-->
  <div class="row no-gutters ">
    <div class="col-md-4">
      {% if lab.internal_page %}
        <a href="{{ lab.internal_page.url }}" class="d-block img-link">
      {% elif lab.external_website %}
        <a href="{{ lab.external_website }}" class="d-block img-link">
      {% endif %}
      {% if lab.lab_logo %}
      <picture>
        {% image lab.lab_logo fill-350x350 as img %}
        <img class="card-img" src="{{ img.url }}" alt="{{ img.alt }}" style='width: 100%; height: auto;'>
      </picture>
      {% endif %}
      {% if lab.internal_page or lab.external_website %}
        </a>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        {% if lab.lab_name %}
        {% if lab.internal_page %}
          <a href="{{ lab.internal_page.url }}" class="d-block" >
        {% elif lab.external_website %}
          <a href="{{ lab.external_website }}" class="d-block" >
        {% endif %}
        <h2 class="" style="margin-top: 0; padding-top: 0;">{{ lab.lab_name }}</h2> 
        {% if lab.internal_page or lab.external_website %}
          </a>
        {% endif %}
      {% endif %}

      {% if lab.group_leads.all %}
      <p class="group_lead"><strong>Group Lead(s)</strong>:
      {% for e in lab.group_leads.all %}
      {% if e.internal_page %}
        <a href="{{e.internal_page.url}}" target="_blank">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
      {% elif e.external_website %}
        <a href="{{e.external_website}}" target="_blank">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}            
      {% else %}
        {{ e.name }}{% if not forloop.last %}, {% endif %}
      {% endif %}
      {% endfor %}
      </p>
      {% endif %}


      {% if lab.lab_bio %}
      <p class="card-text"> <!--cc-iat-text-->
        {{ lab.lab_bio | richtext}}
      </p>
      {% endif %}
        <!--<p class="card-text"><small class="text-muted"></small></p>-->
    
      {% if lab.internal_page %}
        <div class="flex-row pb-1">
        <a href="{{ lab.internal_page.url }}" class="mb-2 bio-btn btn btn-primary btn-lg mb-lg-0"> <!--btn-lg mb-lg-0-->
        Website <i class="fa-solid fa-link"></i>
        </a>
        </div>  
      {% elif lab.external_website %}
        <div class="flex-row pb-1">
        <a href="{{ lab.external_website }}" class="mb-2 bio-btn btn btn-primary btn-lg mb-lg-0"> <!--btn-lg mb-lg-0-->
        Website <i class="fa-solid fa-link"></i>
        </a>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div> <!--.card-->
</div> <!--.container-->


<div class="container">
<hr style="max-width: 900px; padding-left: 20px; padding-right:20px;" >
</div>


{% endfor %}

{% for block in page.body %}
{% include_block block %}
{% endfor %}

{% endblock content %}



